* {
  margin: 0;
  padding: 0;
}

/*body{
    display: flex;
}*/

html {
  scroll-behavior: smooth;
}

.main {
  font-size: large;
}

#calCode {
  height: 700px;
  background-color: aqua;
}

#howToUse {
  height: 600px;
  background: linear-gradient(to right, yellow, orange);
}
